<h1><i class="fas fa-book-reader"></i>Blog App</h1>
<div class="section">
  <p class="lead">Create public and private Blog from your life</p>
</div>

<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left">Login with Google</i>
  </a>
</div>